<h1>Create Your Pet</h1>
<form action="/TamagotchiList" method="post">
  <label for="newName">Name your Tamagotchi</label>
  <input id="newName" name="newName" type="text">
  <div class="">
    <button type="submit">Add Tamagotchi</button>
  </div>
</form>
