<h1>Create Your Pet</h1>
<form action="/TamagotchiList" method="post">
  <label for="new-name">Name your Tamagotchi</label>
  <input id="new-name" name="new-name" type="text">
  <div class="">
    <button type="submit">Add Tamagotchi</button>
  </div>
</form>
