<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>RPS Game</title>
  </head>
  <body>
    <h1>Tamagotchi Status</h1>
    <h2>@Model.GetName()</h2>
    <div class="row">
      <div class="col-md-2">
        <h3>Food:</h3>
        <h3>Attention:</h3>
        <h3>Rest:</h3>
      </div>
      <div class="col-md-10">
        <h3>@Model.GetFood()</h3>
        <h3>@Model.GetAttention()</h3>
        <h3>@Model.GetRest()</h3>
      </div>
    </div>
    <a href="/TamagotchiList">View all Pets</a>
  </body>
</html>
